<% require 'text_controller' %>

<div class="task <% if defined?(task) %><%= task.get_current_state %> <% end %>">
  <div class='content'>
    <% if defined?(task) %>
        <input type="hidden" name="task_id" value="<%=task.id%>"/>
        <% task.comments.each do |comment| %>
            <div class="message">
              <input type="hidden" name="comment_id" value="<%=comment.id%>"/>
              <img class="avatar" src="/assets/avatars/<%=comment.user.get_avatar %>">
               <div class="owner"><%=link_to comment.user.name, user_path(comment.user)%></div>
               <div class="time"> <%=time_ago_in_words(comment.created_at.in_time_zone("Astana")) %> ago <%= "-" if correct_user(comment.user) or current_user.has_role? :admin  %> </div>
               <div class="editing"> &nbsp; <%= link_to "Edit",'#' if correct_user(comment.user) or current_user.has_role? :admin  %></div>
               <div class="text result">
                 <%= comment.content.wiki_markup.to_wikitext  %>
               </div>
               <div class="text prepare hidden">
                 <%= render 'text/editor', submit: 'Update', text: comment.content, rows: 10%>
               </div>
            </div>
        <% end %>
    <% end %>
    <div class="commenting hidden">
      <img class="avatar" src="/assets/avatars/<%= current_user.get_avatar %>">
      <div class="owner only"><%= current_user.name %></div>
      <div class="text">
        <%= render 'text/editor', submit: defined?(submit) ? submit : 'Comment'%>
      </div>
    </div>
  </div>
  <div class="responsible">
    <%  if defined? task %>
      <% if task.done_by.nil? %>
          <%=link_to 'Done',{ controller: 'tasks', action: 'helper', function: 'task_done', id: task.id}, class:'btn btn-mini btn-info task_done' %>
      <% else %>
          <i class="icon-th-list color" ></i> <span class='done'><%= task.done_by.get_initials %></span>
          <% if task.tested_by.nil? %>
              <%=link_to 'Accept',{ controller: 'tasks', action: 'helper', function: 'test_accept', id: task.id}, class:'btn btn-mini btn-success task_accept' %>
              <%=link_to 'Reject',{ controller: 'tasks', action: 'helper', function: 'test_reject', id: task.id}, class:'btn btn-mini btn-danger task_reject' %>
          <% else %>
              <i class="icon-ok color" ></i> <span class='accepted'><%= task.tested_by.get_initials %></span>
          <% end %>
      <% end %>
    <% end %>

  </div>
  <div class="clr"></div>
  <% if defined?(task) %>
      <div class="time"><%=time_ago_in_words(task.created_at.in_time_zone("Astana"))%> ago</div>
  <% end %>
  <div class="buttons">
    <%=link_to 'Comment', '#', class:'new_comment_button' %>
  </div>
  <div class="quote">
    <% if defined? (task) and not task.real_time.nil? %>
        <span style="color:<%= task.real_time.to_i>task.quoted_time.to_i ? 'red' : 'rgb(0, 200, 0)  ' %>;"><%="#{'%g' % task.real_time} hours"%><sup>real</sup></span> / <%= task.quoted_time.nil? ? '0' : "#{'%g' % task.quoted_time} hours" %>
    <% else %>
    <%= (link_to defined?(task)&&!task.quoted_time.nil?  ? "#{'%g' % task.quoted_time} hours" : 'Quote','#') %>
    <% end %>
  </div>

  <div class="clr"></div>
</div>