<div class="task">
  <div class='content'>
    <% if defined?(task) %>
        <% task.comments.each do |comment| %>
            <input type="hidden" name="task_id" value="<%=task.id%>"/>
            <div class="message">
               <img class="avatar" src="/assets/avatars/<%=comment.user.get_avatar %>">
               <div class="owner"><%=link_to comment.user.name, user_path(comment.user)%></div>
               <div class="time">(<%=time_ago_in_words(comment.created_at.in_time_zone("Astana")) %> ago)</div>
               <div class="text">
                 <%= comment.content.wiki_markup.to_wikitext  %>
               </div>
            </div>
        <% end %>
    <% end %>
    <div class="commenting hidden">
      <img class="avatar" src="/assets/avatars/<%= current_user.get_avatar %>">
      <div class="owner only"><%= current_user.name %></div>
      <div class="text">
        <%= render 'text/editor', submit: defined?(submit) ? submit : 'Comment'%>
      </div>
    </div>
  </div>
  <div class="responsible">
     dasda
  </div>
  <div class="clr"></div>
  <% if defined?(task) %>
      <div class="time"><%=time_ago_in_words(task.created_at.in_time_zone("Astana"))%> ago</div>
  <% end %>
  <div class="buttons">
    <%=link_to 'Comment', '#', class:'new_comment_button' %>
  </div>
  <div class="quote">3 hours</div>
  <div class="clr"></div>
</div>