<div class="property">
    <label for="property_names">Property<%=id%> <a class="btn-micro" href="#"><i class="icon-remove color"></i></a></label>
    <input type="hidden" name="property_id" id="property_id_<%=id%>" value='3'>
    <div class="property_names">
      <input type="text" name="property_name[<%=id%>][1]" value="name" readonly/> <br>
      <input type="text" name="property_name[<%=id%>][2]" value="format" readonly/> <br>
    </div>
    <div class="property_fields">
      <input type="text" name="property_value[<%=id%>][1]" maxlength="25" class="property_name" value="Property<%=id%>" /> <br>
      <input type="text" name="property_value[<%=id%>][2]" value="" placeholder="ex:{host}:{port}"/> <br>
    </div>
    <div class="property_remove">
        <a class="btn btn-mini" href="#"><i class="icon-remove"></i></a>
    </div>
  <div class="clr"></div>
</div>