<legend>
  <img class="account_image" src="/assets/avatars/<%=@client.get_avatar%>">
  <b><%= @client.name %></b> (<%= @client.email %>)
</legend>

<h4>Client requests</h4>
<br>
<table class="table-striped table table-hover table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th>Description</th>
    <th>Created</th>
    <th>State</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <%@tickets.each do |ticket| %>
      <tr class="clickable_row">
        <td><%=link_to "##{ticket.id}",ticket %></td>
        <td><%=ticket.name %></td>
        <td><%=time_ago_in_words(ticket.created_at.in_time_zone("Astana"))%> ago</td>
        <td><%=ticket.state %></td>
        <td>
          <div class="btn-group">
            <%= link_to "Edit", edit_ticket_path(ticket),class: "btn btn-small btn-info" %>
            <%= link_to "Delete",ticket, method: :delete,class: "btn btn-small btn-danger", confirm: "Are you sure?" %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
