<h1>Tickets</h1>

<div class="navbar">
  <%= link_to(new_ticket_path, class: "btn btn-small") do %>
      <i class="icon-plus-sign"></i> new Ticket
  <% end %>
  <%= link_to(root_path, class: "btn btn-small") do %>
      <i class="icon-align-right"></i> Roadmap
  <% end %>

  <div class="ticket-search pull-right">
    <%=form_tag(tickets_search_url, method: :post, class:   "navbar-search pull-left") do %>
        <%= text_field_tag('keywords', '', class:"ticket-search-keywords", placeholder:"Search tickets") %>
        <%= submit_tag("",class:"ticket-search-button") %>
    <% end %>
  </div>
</div>

<table class="table-striped table table-hover table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th>Description</th>
    <th>Client</th>
    <th>Site</th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%@tickets.each do |ticket| %>
      <tr class="clickable_row">
        <td><%= link_to "##{ticket.id}",ticket %></td>
        <td><%= ticket.name %></td>
        <td><%= ticket.client.name unless ticket.client.nil? %></td>
        <td><%= ticket.site.url unless ticket.site.nil? %> </td>
        <td><%= time_ago_in_words(ticket.created_at.in_time_zone("Astana")) %> ago</td>
        <td>
          <div class="btn-group">
            <%= link_to "Edit", edit_ticket_path(ticket),class: "btn btn-small btn-info" %>
            <%= link_to "Delete", ticket_path(ticket), method: :delete, class: "btn btn-small btn-danger" %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
