<h4><i class="icon-align-right" style="margin-top: 4px;"></i> Roadmap</h4>

<div class="navbar">
  <%= link_to(new_ticket_path, class: "btn btn-small") do %>
      <i class="icon-plus-sign"></i> new Ticket
  <% end %>
  <%= link_to(tickets_path, class: "btn btn-small") do %>
      <i class="icon-list"></i> List View
  <% end %>
  <div class="ticket-search pull-right">
    <%=form_tag(tickets_search_url, method: :post, class:   "navbar-search pull-left") do %>
        <%= text_field_tag('keywords', '', class:"ticket-search-keywords", placeholder:"Search tickets") %>
        <%= submit_tag("",class:"ticket-search-button") %>
    <% end %>
  </div>
</div>

<div class="roadmap">
  <% Ticket::STATES.each do |state| %>
    <div class="column" style="float: left; width: <%=(940/Ticket::STATES.length)-8%>px">
      <div class="header"><%= state%></div>
      <div class="content">
        <%  @tickets[state].each do |ticket| %>
            <div class="card">
              <input type="hidden" value="<%= ticket.id %>">
              <div class="id">#<%=ticket.id%><span class="tasks">[<%= ticket.tasks.length%>]</span></div>
              <div class="description"><%= ticket.name %></div>
              <div class="client"><%= ticket.client.name %></div>
            </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="clr"></div>