<% provide(:ticket_header,"100px") %>
<legend><b>#<span id="ticket_id"><%= @ticket.id%></span> <%= @ticket.name %></b>
  <div class="btn-group legend_buttons">
    <%=link_to "Edit", edit_ticket_path(@ticket), class: "btn btn-small" %>
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <!-- dropdown menu links -->
    </ul>
  </div>
</legend>

<div class="ticket_content">
  <div class="left">
    <%= render 'tickets/mails' %>
  </div>
  <div class="right">
    <%= render 'tickets/tasks' %>
  </div>
</div>

<div class="clr"></div>