<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="/assets/jquery-ui.css" type="text/css"/>
  <script type="text/javascript" src="/assets/attachments.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render content_for?(:ticket_header)? 'tickets/header' : 'layouts/header' %>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
